input {
  padding: 20px;
  border: 2px solid white;
  font-size: 18px;
  max-width: 100%;
  width: 50%;
  text-align: center;
  outline: none;
}
@media screen and (max-width: 600px) {
  input {
    max-width: 100%;
    width: 70%;
    margin: auto;
  }
  h1 {
    margin: auto;
  }
  button {
    margin: -20px auto;
  }
}
.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px auto;
}
#ok {
  padding: 10px;
  width: 110px;
  background-color: green;
  color: white;
  font-weight: bolder;
  border: none;
  outline: none;
  margin: 10px;
  font-size: 20px;
  cursor: pointer;
}
#cancel {
  padding: 10px;
  width: 100px;
  background-color: red;
  color: black;
  font-weight: bolder;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 10px;
  font-size: 20px;
}
#hint {
  text-align: center;
  font-size: 23px;
  color: blue;
  margin: 10px auto;
}
h1 {
  color: white;
  text-transform: uppercase;
  font-size: 23px;
  letter-spacing: 5px;
  word-spacing: 10px;
  font-family: cursive, verdana;
}
#guess {
  text-align: center;
  font-size: 23px;
  color: green;
  margin: 10px auto;
}
body {
  background-color: grey;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}
